Repository marcusrbrown/gpt: changes, and which Codecov flags are due for each by the changed paths.
All: Unit Tests, React Components, Context Providers, Services, Custom Hooks

fix(lint): disable react/no-implicit-key rule
  eslint.config.ts
Due: none

fix(build): convert manualChunks object to function for Vite 8
  vite.config.ts
Due: none

fix: regenerate lockfile after rebase
  pnpm-lock.yaml
Due: none

wip: HeroUI v2 to v3 migration in progress
  package.json
  pnpm-lock.yaml
  src/components/__tests__/card.test.tsx
  src/components/__tests__/feature-card.test.tsx
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/archive-dialog.tsx
  src/components/backup-restore-panel.tsx
  src/components/card.tsx
  src/components/chat/chat-interface.tsx
  src/components/create-folder-modal.tsx
  src/components/export-dialog.tsx
  src/components/feature-card.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/knowledge-configuration.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/user-gpt-card.tsx
  src/components/version-history-panel.tsx
  src/pages/gpt-showcase-page.tsx
  src/pages/settings-page.tsx
  src/providers.tsx
Due: Unit Tests, React Components

wip: HeroUI v2 to v3 migration - partial progress
  src/components/archive-dialog.tsx
  src/components/backup-restore-panel.tsx
  src/components/capabilities-configuration.tsx
  src/components/card.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/chat-interface.tsx
  src/components/chat/sidebar-content.tsx
  src/components/conversation-search.tsx
  src/components/create-folder-modal.tsx
  src/components/docs/interactive-notebook.tsx
  src/components/empty-states/no-providers-prompt.tsx
  src/components/export-dialog.tsx
  src/components/file-upload/file-upload.tsx
  src/components/folder-sidebar.tsx
  src/components/forms/form-field-wrapper.tsx
  src/components/gpt-editor-tabs/general-tab.tsx
  src/components/gpt-editor-tabs/vector-knowledge.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/knowledge-configuration.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/mcp/mcp-tool-explorer.tsx
  src/components/navbar.tsx
  src/components/settings/anthropic-settings.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/settings/ollama-settings.tsx
  src/components/theme-switch.tsx
  src/components/tools-configuration.tsx
  src/components/user-gpt-card.tsx
  src/components/version-history-panel.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/gpt-showcase-page.tsx
  src/pages/oauth-callback-page.tsx
  src/pages/settings-page.tsx
Due: Unit Tests, React Components

fix(lint): make eslint v10 compatible in CI
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: none

refactor: migrate Button component API to v3 (#2176)
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
  package.json
  pnpm-lock.yaml
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/archive-dialog.tsx
  src/components/backup-restore-panel.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/sidebar-content.tsx
  src/components/create-folder-modal.tsx
  src/components/docs/interactive-notebook.tsx
  src/components/empty-states/no-providers-prompt.tsx
  src/components/export-dialog.tsx
  src/components/gpt-editor-tabs/general-tab.tsx
  src/components/gpt-editor-tabs/vector-knowledge.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/knowledge-configuration.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/navbar.tsx
  src/components/settings/anthropic-settings.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/theme-switch.tsx
  src/components/tools-configuration.tsx
  src/components/user-gpt-card.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/gpt-showcase-page.tsx
  src/pages/settings-page.tsx
Due: Unit Tests, React Components

fix(heroui): migrate ToastProvider and Spinner to v3 API
  src/App.tsx
  src/components/backup-restore-panel.tsx
  src/components/capabilities-configuration.tsx
  src/components/card.tsx
  src/components/chat/chat-interface.tsx
  src/components/chat/sidebar-content.tsx
  src/components/conversation-search.tsx
  src/components/create-folder-modal.tsx
  src/components/export-dialog.tsx
  src/components/feature-card.tsx
  src/components/file-upload/file-upload.tsx
  src/components/footer.tsx
  src/components/forms/form-field-wrapper.tsx
  src/components/gpt-editor-tabs/advanced-settings-tab.tsx
  src/components/gpt-editor-tabs/general-tab.tsx
  src/components/gpt-editor-tabs/vector-knowledge.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/knowledge-configuration.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/mcp/mcp-tool-explorer.tsx
  src/components/navbar.tsx
  src/components/settings/anthropic-settings.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/appearance-settings.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/settings/ollama-settings.tsx
  src/components/settings/provider-settings.tsx
  src/components/user-gpt-card.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/oauth-callback-page.tsx
  src/providers.tsx
Due: Unit Tests, React Components

security: override path-to-regexp to v8.4.0 (CVE-2026-4926)
  package.json
  pnpm-lock.yaml
Due: none

security: override path-to-regexp to v8.4.0 (CVE-2026-4926) (#2182)
  package.json
  pnpm-lock.yaml
Due: none

fix(style): adopt error_ naming convention and @/ import alias
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/docs/interactive-notebook.tsx
  src/components/knowledge-configuration.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/settings/mcp-settings.tsx
  src/contexts/session-context.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/gpt-test-page.tsx
  src/services/openai-service.ts
Due: Unit Tests, React Components, Context Providers, Services

fix(style): adopt error_ naming convention and @/ import alias (#2345)
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/docs/interactive-notebook.tsx
  src/components/knowledge-configuration.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/settings/mcp-settings.tsx
  src/contexts/session-context.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/gpt-test-page.tsx
  src/services/openai-service.ts
Due: Unit Tests, React Components, Context Providers, Services

wip: HeroUI v2 to v3 migration in progress
  package.json
  src/components/__tests__/card.test.tsx
  src/components/__tests__/feature-card.test.tsx
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/archive-dialog.tsx
  src/components/backup-restore-panel.tsx
  src/components/card.tsx
  src/components/chat/chat-interface.tsx
  src/components/create-folder-modal.tsx
  src/components/export-dialog.tsx
  src/components/feature-card.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/knowledge-configuration.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/user-gpt-card.tsx
  src/components/version-history-panel.tsx
  src/pages/gpt-showcase-page.tsx
  src/pages/settings-page.tsx
  src/providers.tsx
Due: Unit Tests, React Components

refactor: migrate Button component API to v3 (#2176)
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/archive-dialog.tsx
  src/components/backup-restore-panel.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/sidebar-content.tsx
  src/components/create-folder-modal.tsx
  src/components/docs/interactive-notebook.tsx
  src/components/empty-states/no-providers-prompt.tsx
  src/components/export-dialog.tsx
  src/components/gpt-editor-tabs/general-tab.tsx
  src/components/gpt-editor-tabs/vector-knowledge.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/knowledge-configuration.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/navbar.tsx
  src/components/settings/anthropic-settings.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/theme-switch.tsx
  src/components/tools-configuration.tsx
  src/components/user-gpt-card.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/gpt-showcase-page.tsx
  src/pages/settings-page.tsx
Due: Unit Tests, React Components

chore: update lockfile for HeroUI v3 and rebased dependencies
  pnpm-lock.yaml
Due: none

fix(security): override fast-uri to >=3.1.2 for path traversal and host confusion (GHSA #120, #121)
  package.json
  pnpm-lock.yaml
Due: none

docs(agents): add hero.ts to AGENTS.md structure listings
  AGENTS.md
  src/AGENTS.md
Due: none

docs(agents): add hero.ts to AGENTS.md structure listings (#2422)
  AGENTS.md
  src/AGENTS.md
Due: none

fix(style): use @/ import alias instead of relative paths in production code
  src/components/user-gpt-card.tsx
  src/contexts/conversation-context.tsx
  src/contexts/conversation-provider.tsx
Due: Unit Tests, React Components, Context Providers

fix(style): use @/ import alias instead of relative paths in production code (#2352)
  src/components/user-gpt-card.tsx
  src/contexts/conversation-context.tsx
  src/contexts/conversation-provider.tsx
Due: Unit Tests, React Components, Context Providers

fix(security): override fast-uri to >=3.1.2 for path traversal and host confusion (#2409)
  package.json
  pnpm-lock.yaml
Due: none

feat(ci): combine Fro Bot workflows and adopt perpetual single-issue strategy
  .github/AGENTS.md
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
Due: none

fix(security): override langsmith to >=0.6.0 for CVE-2026-45134
  package.json
  pnpm-lock.yaml
Due: none

fix(ci): remove unreachable dead code in workflow_dispatch prompt fallback
  .github/workflows/fro-bot.yaml
Due: none

fix(ci): restore quality gate status to maintenance prompt and remove persist-credentials false
  .github/workflows/fro-bot.yaml
Due: none

feat(ci): combine Fro Bot workflows and adopt perpetual single-issue strategy (#2436)
  .github/AGENTS.md
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
Due: none

fix(security): override langsmith to >=0.6.0 for CVE-2026-45134 (#2437)
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): align AGENTS with Vite 8
  AGENTS.md
Due: none

fix(a11y): remove nested sidebar landmark
  src/pages/home-page.tsx
Due: Unit Tests

fix(home): remove nested sidebar landmark (#2525)
  AGENTS.md
  src/pages/home-page.tsx
Due: Unit Tests

fix(a11y): improve ollama contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

chore(autoheal): clean storage and test conventions
  src/pages/backup-restore-page.tsx
  src/pages/gpt-showcase-page.tsx
  src/services/__tests__/import-service.test.ts
  src/services/__tests__/knowledge-service.test.ts
Due: Unit Tests

security(hono): pin patched hono release
  package.json
  pnpm-lock.yaml
Due: none

security(undici): pin patched undici release
  package.json
  pnpm-lock.yaml
Due: none

fix(security): pin undici to 7.28.0
  package.json
  pnpm-lock.yaml
Due: none

test(knowledge): remove unsafe spy casts
  src/services/__tests__/knowledge-service.test.ts
Due: none

test(knowledge): keep extraction mocks type-safe
  src/services/__tests__/knowledge-service.test.ts
Due: none

fix(accessibility): improve ollama settings contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(a11y): improve ollama status chip contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

Path conditions:
  Unit Tests: any of: src/**/*.ts, src/**/*.tsx, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  React Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  Context Providers: any of: src/contexts/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  Custom Hooks: any of: src/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
