Repository marcusrbrown/gpt: changes, and which Codecov flags are due for each by the changed paths.
All: Unit Tests, React Components, Context Providers, Services, Custom Hooks

codecov.yml:

# Codecov configuration for comprehensive test coverage reporting
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: 'header, diff, flags, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files and configuration files
ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'src/test/**'
  - 'tests/**'
  - '**/*.config.ts'
  - src/main.tsx
  - src/vite-env.d.ts

# Component configuration for different test types
component_management:
  individual_components:
    - component_id: unit_tests
      name: Unit Tests
      paths:
        - 'src/**/*.ts'
        - 'src/**/*.tsx'

    - component_id: components
      name: React Components
      paths:
        - 'src/components/**'

    - component_id: contexts
      name: Context Providers
      paths:
        - 'src/contexts/**'

    - component_id: services
      name: Services
      paths:
        - 'src/services/**'

    - component_id: hooks
      name: Custom Hooks
      paths:
        - 'src/hooks/**'

# GitHub Actions integration
github_checks:
  annotations: true

fix(deps): restore pnpm v11 install policy
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(fro-bot): honor a bare workflow_dispatch prompt regardless of mode
  .github/workflows/fro-bot.yaml
Due: none

fix(fro-bot): honor a bare workflow_dispatch prompt regardless of mode (#2654)
  .github/workflows/fro-bot.yaml
Due: none

fix(a11y): improve ollama status chip contrast (#2628)
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

security(hono): pin patched hono release
  package.json
  pnpm-lock.yaml
Due: none

security(undici): pin patched undici release
  package.json
  pnpm-lock.yaml
Due: none

fix(security): pin undici to 7.28.0
  package.json
  pnpm-lock.yaml
Due: none

chore(autoheal): clean storage and test conventions (#2573)
  src/pages/backup-restore-page.tsx
  src/pages/gpt-showcase-page.tsx
  src/services/__tests__/import-service.test.ts
  src/services/__tests__/knowledge-service.test.ts
Due: Unit Tests

fix(accessibility): improve ollama settings contrast (#2612)
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(deps): regenerate lockfile for security pin
  pnpm-lock.yaml
Due: none

fix(a11y): raise ollama status contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(a11y): improve ollama settings contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(a11y): improve ollama status contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(ui): restore ollama chip contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(accessibility): improve ollama status chip contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(accessibility): improve ollama settings contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(accessibility): keep ollama status chip legible
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(settings): restore ollama chip contrast
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(a11y): add skip-link focus target
  src/App.tsx
  src/components/docs/doc-layout.tsx
  src/components/layouts/default-layout.tsx
  src/components/navbar.tsx
  src/pages/home-page.tsx
  src/pages/oauth-callback-page.tsx
Due: Unit Tests, React Components

test(e2e): stabilize archive restore flow
  tests/e2e/archive-restore.spec.ts
Due: none

fix(ci): set fro-bot checkout credentials posture
  .github/workflows/fro-bot.yaml
Due: none

fix(ci): set fro-bot checkout credentials posture (#2762)
  .github/workflows/fro-bot.yaml
Due: none

fix(security): resync undici override branch with main
  .github/workflows/fro-bot.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(security): resync hono override branch with main
  .github/workflows/fro-bot.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/settings/ollama-settings.tsx
Due: Unit Tests, React Components

fix(security): patch high-severity transitive dependency alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(security): patch high-severity transitive dependency alerts (#2787)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
