Repository marcusrbrown/gpt: changes, and which Codecov flags are due for each by the changed paths.
All: Unit Tests, React Components, Context Providers, Services, Custom Hooks

codecov.yml:

# Codecov configuration for comprehensive test coverage reporting
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: 'header, diff, flags, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files and configuration files
ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'src/test/**'
  - 'tests/**'
  - '**/*.config.ts'
  - src/main.tsx
  - src/vite-env.d.ts

# Component configuration for different test types
component_management:
  individual_components:
    - component_id: unit_tests
      name: Unit Tests
      paths:
        - 'src/**/*.ts'
        - 'src/**/*.tsx'

    - component_id: components
      name: React Components
      paths:
        - 'src/components/**'

    - component_id: contexts
      name: Context Providers
      paths:
        - 'src/contexts/**'

    - component_id: services
      name: Services
      paths:
        - 'src/services/**'

    - component_id: hooks
      name: Custom Hooks
      paths:
        - 'src/hooks/**'

# GitHub Actions integration
github_checks:
  annotations: true

chore: delete deprecated components
  .ai/notes/kewl-prompts.md
  src/components/AGENTS.md
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/chat/AGENTS.md
  src/components/gpt-editor.tsx
  src/components/gpt-test-pane.tsx
  src/index.tsx
Due: Unit Tests, React Components

chore: delete deprecated components (#1798)
  .ai/notes/kewl-prompts.md
  src/components/AGENTS.md
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/chat/AGENTS.md
  src/components/gpt-editor.tsx
  src/components/gpt-test-pane.tsx
  src/index.tsx
Due: Unit Tests, React Components

refactor: change type definition for reexported `heroui()` plugin
  src/hero.ts
Due: Unit Tests

chore: remove unused useIntersectionObserver hook
  all_exports.txt
  find_unused.py
  src/hooks/use-intersection-observer.ts
Due: Unit Tests, Custom Hooks

chore: remove stray analysis files
  all_exports.txt
  find_unused.py
Due: none

chore: remove unused barrel file src/index.tsx
  src/index.tsx
Due: Unit Tests

chore: remove unused agent type interfaces
  src/types/agent.ts
Due: Unit Tests

chore: remove unused MCP_PROTOCOL_VERSION constant
  src/types/mcp.ts
Due: Unit Tests

chore: remove unused session hooks
  src/hooks/use-session.ts
Due: Unit Tests, Custom Hooks

chore: remove unused MCP hooks
  src/hooks/use-mcp.ts
Due: Unit Tests, Custom Hooks

chore: remove unused ConversationList component
  src/components/conversation-list.tsx
Due: Unit Tests, React Components

chore: remove unused OllamaModelCard component
  src/components/ollama-model-card.tsx
Due: Unit Tests, React Components

chore: remove unused OllamaModelManager component
  src/components/ollama-model-manager.tsx
Due: Unit Tests, React Components

chore: remove unused PassphraseModal component
  src/components/passphrase-modal.tsx
Due: Unit Tests, React Components

chore: remove unused SessionWarning component
  src/components/session-warning.tsx
Due: Unit Tests, React Components

chore: remove unused MCPToolCallVisualization component
  src/components/mcp/mcp-tool-call-visualization.tsx
Due: Unit Tests, React Components

chore: remove unused ImportDialog component
  src/components/import-dialog.tsx
Due: Unit Tests, React Components

chore: remove unused ConflictResolutionPanel component
  src/components/conflict-resolution-panel.tsx
Due: Unit Tests, React Components

chore: move RFCS.md to the root
  .markdownlint-cli2.yaml
  RFCS.md
  eslint.config.ts
Due: none

refator: remove unused code (#1850)
  .markdownlint-cli2.yaml
  RFCS.md
  eslint.config.ts
  src/components/conflict-resolution-panel.tsx
  src/components/conversation-list.tsx
  src/components/import-dialog.tsx
  src/components/mcp/mcp-tool-call-visualization.tsx
  src/components/ollama-model-card.tsx
  src/components/ollama-model-manager.tsx
  src/components/passphrase-modal.tsx
  src/components/session-warning.tsx
  src/hooks/use-intersection-observer.ts
  src/hooks/use-mcp.ts
  src/hooks/use-session.ts
  src/index.tsx
  src/types/agent.ts
  src/types/mcp.ts
Due: Unit Tests, React Components, Custom Hooks

docs: update root and project-level AGENTS.md
  AGENTS.md
  docs/AGENTS.md
Due: none

docs(src): update routing and provider hierarchy documentation
  src/AGENTS.md
  src/contexts/AGENTS.md
  src/pages/AGENTS.md
Due: Context Providers

docs(src): expand service, hook, and type module inventories
  src/hooks/AGENTS.md
  src/services/AGENTS.md
  src/types/AGENTS.md
Due: Services, Custom Hooks

docs(src): add layouts guide and update component hierarchy
  src/components/AGENTS.md
  src/components/layouts/AGENTS.md
Due: React Components

docs(.github): update CI workflow documentation
  .github/AGENTS.md
Due: none

docs: refresh AGENTS.md hierarchy with current codebase state (#2136)
  .github/AGENTS.md
  AGENTS.md
  docs/AGENTS.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/layouts/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
  src/pages/AGENTS.md
  src/services/AGENTS.md
  src/types/AGENTS.md
Due: React Components, Context Providers, Services, Custom Hooks

ci: add Fro Bot agent and autoheal workflows
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
Due: none

docs(.github): add fro-bot workflows to AGENTS.md
  .github/AGENTS.md
Due: none

ci: update Fro Bot agent version and permissions
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
Due: none

ci: add Fro Bot agent and autoheal workflows (#2139)
  .github/AGENTS.md
  .github/workflows/fro-bot-autoheal.yaml
  .github/workflows/fro-bot.yaml
Due: none

ci: add Copilot coding agent instructions and setup workflow
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yaml
Due: none

ci: add Copilot custom agents for review and test writing
  .github/agents/reviewer.agent.md
  .github/agents/test-writer.agent.md
Due: none

docs(.github): add Copilot config to AGENTS.md structure
  .github/AGENTS.md
Due: none

ci: configure Copilot coding agent for the GPT platform (#2145)
  .github/AGENTS.md
  .github/agents/reviewer.agent.md
  .github/agents/test-writer.agent.md
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yaml
Due: none

ci(workflows): optimize and refactor E2E reporting
  .github/actions/setup-pnpm/action.yaml
  .github/settings.yml
  .github/workflows/test-coverage.yaml
  .github/workflows/test-performance.yaml
  playwright.config.ts
  scripts/lib/formatters/e2e.ts
  scripts/lib/formatters/index.ts
  scripts/lib/parsers/e2e.ts
  scripts/lib/parsers/index.ts
  scripts/report-test-results.ts
Due: none

ci(workflows): optimize and refactor E2E reporting (#2148)
  .github/actions/setup-pnpm/action.yaml
  .github/settings.yml
  .github/workflows/test-coverage.yaml
  .github/workflows/test-performance.yaml
  playwright.config.ts
  scripts/lib/formatters/e2e.ts
  scripts/lib/formatters/index.ts
  scripts/lib/parsers/e2e.ts
  scripts/lib/parsers/index.ts
  scripts/report-test-results.ts
Due: none

fix(e2e): remove waitForTimeout anti-pattern and improve testreliability
  playwright.config.ts
  tests/e2e/anthropic-provider.spec.ts
  tests/e2e/archive-restore.spec.ts
  tests/e2e/chat-interface.spec.ts
  tests/e2e/folder-organization.spec.ts
  tests/e2e/gpt-showcase.spec.ts
  tests/e2e/heroui-form-submission.spec.ts
  tests/e2e/knowledge-base.spec.ts
  tests/e2e/ollama-provider.spec.ts
  tests/e2e/page-objects/gpt-editor-page.ts
  tests/e2e/page-objects/gpt-showcase-page.ts
  tests/e2e/page-objects/gpt-test-page.ts
  tests/e2e/page-objects/home-page.ts
Due: none

fix(e2e): skip failing Knowledge test to unblock PR
  tests/e2e/gpt-showcase.spec.ts
Due: none

fix(e2e): remove waitForTimeout anti-pattern and improve test reliability (#2156)
  playwright.config.ts
  tests/e2e/anthropic-provider.spec.ts
  tests/e2e/archive-restore.spec.ts
  tests/e2e/chat-interface.spec.ts
  tests/e2e/folder-organization.spec.ts
  tests/e2e/gpt-showcase.spec.ts
  tests/e2e/heroui-form-submission.spec.ts
  tests/e2e/knowledge-base.spec.ts
  tests/e2e/ollama-provider.spec.ts
  tests/e2e/page-objects/gpt-editor-page.ts
  tests/e2e/page-objects/gpt-showcase-page.ts
  tests/e2e/page-objects/gpt-test-page.ts
  tests/e2e/page-objects/home-page.ts
Due: none
