Repository marcusrbrown/gpt: changes, and which Codecov flags are due for each by the changed paths.
All: Unit Tests, React Components, Context Providers, Services, Custom Hooks

docs: Update AGENTS.md files across the project
  .github/AGENTS.md
  AGENTS.md
  docs/AGENTS.md
  notebooks/AGENTS.md
  scripts/AGENTS.md
  src/AGENTS.md
  src/assets/AGENTS.md
  src/components/AGENTS.md
  src/components/docs/AGENTS.md
  src/components/file-upload/AGENTS.md
  src/components/forms/AGENTS.md
  src/components/settings/AGENTS.md
  src/config/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
  src/lib/AGENTS.md
  src/pages/AGENTS.md
  src/services/AGENTS.md
  src/services/providers/AGENTS.md
  src/test/AGENTS.md
  src/types/AGENTS.md
  tests/AGENTS.md
  tests/accessibility/AGENTS.md
  tests/e2e/AGENTS.md
  tests/performance/AGENTS.md
  tests/visual/AGENTS.md
Due: React Components, Context Providers, Services, Custom Hooks

docs: Update AGENTS.md files across the project (#1757)
  .github/AGENTS.md
  AGENTS.md
  docs/AGENTS.md
  notebooks/AGENTS.md
  scripts/AGENTS.md
  src/AGENTS.md
  src/assets/AGENTS.md
  src/components/AGENTS.md
  src/components/docs/AGENTS.md
  src/components/file-upload/AGENTS.md
  src/components/forms/AGENTS.md
  src/components/settings/AGENTS.md
  src/config/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
  src/lib/AGENTS.md
  src/pages/AGENTS.md
  src/services/AGENTS.md
  src/services/providers/AGENTS.md
  src/test/AGENTS.md
  src/types/AGENTS.md
  tests/AGENTS.md
  tests/accessibility/AGENTS.md
  tests/e2e/AGENTS.md
  tests/performance/AGENTS.md
  tests/visual/AGENTS.md
Due: React Components, Context Providers, Services, Custom Hooks

docs: update project overview and architecture details
  docs/overview.md
  readme.md
Due: none

docs: update project overview and architecture details (#1758)
  docs/overview.md
  readme.md
Due: none

chore(deps): update @bfra.me/eslint-config to version 0.47.6
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update @bfra.me/eslint-config to version 0.47.6 (#1759)
  package.json
  pnpm-lock.yaml
Due: none

docs(rfc): update RFC-009/RFC-011 to use `@modelcontextprotocol/sdk`
  RFCs/RFC-009-MCP-Tool-Integration.md
  RFCs/RFC-011-Advanced-Tools-Sandbox.md
Due: none

docs(rfc): update RFC-009/RFC-011 to use `@modelcontextprotocol/sdk` (#1760)
  RFCs/RFC-009-MCP-Tool-Integration.md
  RFCs/RFC-011-Advanced-Tools-Sandbox.md
Due: none

chore: remove RFC-008 cruft
  docs/plan/RFC-008-Anthropic-Provider-Integration.md
Due: none

chore: remove RFC-008 cruft (#1761)
  docs/plan/RFC-008-Anthropic-Provider-Integration.md
Due: none

fix(ollama): prevent `/api/tags` spam
  .gitignore
  src/hooks/use-ollama-status.ts
Due: Unit Tests, Custom Hooks

refactor: clean up `useOllamaStatus()` hook
  src/hooks/use-ollama-status.ts
Due: Unit Tests, Custom Hooks

fix: update `null` check
  src/hooks/use-ollama-status.ts
Due: Unit Tests, Custom Hooks

fix(ollama): prevent `/api/tags` spam (#1762)
  .gitignore
  src/hooks/use-ollama-status.ts
Due: Unit Tests, Custom Hooks

docs: add external resources section to `AGENTS.md`
  AGENTS.md
Due: none

docs: add external resources section to `AGENTS.md` (#1765)
  AGENTS.md
Due: none

feat: implement MCP tool integration (RFC-009)
  RFCs/RFCS.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/mcp/mcp-tool-call-visualization.tsx
  src/components/mcp/mcp-tool-explorer.tsx
  src/components/settings/mcp-settings.tsx
  src/contexts/mcp-context.tsx
  src/hooks/use-mcp.ts
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-editor-page.tsx
  src/pages/oauth-callback-page.tsx
  src/providers.tsx
  src/services/__tests__/mcp-client-service.test.ts
  src/services/mcp-client-service.ts
  src/services/mcp-oauth-provider.ts
  src/types/__tests__/mcp.test.ts
  src/types/gpt.ts
  src/types/mcp.ts
  tests/accessibility/mcp-settings.accessibility.spec.ts
  tests/e2e/mcp-integration.spec.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

feat: implement MCP tool integration (RFC-009) (#1767)
  RFCs/RFCS.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/mcp/mcp-server-card.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/mcp/mcp-tool-call-visualization.tsx
  src/components/mcp/mcp-tool-explorer.tsx
  src/components/settings/mcp-settings.tsx
  src/contexts/mcp-context.tsx
  src/hooks/use-mcp.ts
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-editor-page.tsx
  src/pages/oauth-callback-page.tsx
  src/providers.tsx
  src/services/__tests__/mcp-client-service.test.ts
  src/services/mcp-client-service.ts
  src/services/mcp-oauth-provider.ts
  src/types/__tests__/mcp.test.ts
  src/types/gpt.ts
  src/types/mcp.ts
  tests/accessibility/mcp-settings.accessibility.spec.ts
  tests/e2e/mcp-integration.spec.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

docs: update RFCs and documentation for UI/UX improvements
  RFCs/RFC-013-UI-UX-Improvements.md
  RFCs/RFCS.md
  docs/RULES.md
  docs/features.md
  docs/prd.md
Due: none

docs: update RFCs and documentation for UI/UX improvements (#1768)
  RFCs/RFC-013-UI-UX-Improvements.md
  RFCs/RFCS.md
  docs/RULES.md
  docs/features.md
  docs/prd.md
Due: none

feat: implement settings UI and layout system (RFC-013)
  RFCs/RFCS.md
  src/App.tsx
  src/components/empty-states/index.ts
  src/components/empty-states/no-providers-prompt.tsx
  src/components/layouts/default-layout.tsx
  src/components/layouts/full-height-layout.tsx
  src/components/layouts/index.ts
  src/components/layouts/sidebar-layout.tsx
  src/components/navbar.tsx
  src/components/settings/appearance-settings.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/provider-settings.tsx
  src/hooks/use-reduced-motion.ts
  src/hooks/use-storage-quota.ts
  src/index.css
  src/pages/backup-restore-page.tsx
  src/pages/gpt-editor-page.tsx
  src/pages/home-page.tsx
  src/pages/settings-page.tsx
  tests/accessibility/settings.accessibility.spec.ts
  tests/e2e/feature-discoverability.spec.ts
  tests/e2e/page-objects/settings-page.ts
  tests/e2e/settings.spec.ts
Due: Unit Tests, React Components, Custom Hooks

feat(ui): implement mobile UX enhancements and global settings navigation
  RFCs/RFC-013-UI-UX-Improvements.md
  package.json
  pnpm-lock.yaml
  src/components/navbar.tsx
  src/pages/settings-page.tsx
  tests/accessibility/form-validation.accessibility.spec.ts
  tests/accessibility/mcp-settings.accessibility.spec.ts
  tests/accessibility/ollama-settings.accessibility.spec.ts
  tests/accessibility/settings.accessibility.spec.ts
  tests/e2e/AGENTS.md
  tests/e2e/anthropic-provider.spec.ts
  tests/e2e/archive-restore.spec.ts
  tests/e2e/export-import.spec.ts
  tests/e2e/feature-discoverability.spec.ts
  tests/e2e/gpt-crud.spec.ts
  tests/e2e/mcp-integration.spec.ts
  tests/e2e/ollama-provider.spec.ts
  tests/e2e/responsive-behavior.spec.ts
  tests/e2e/settings.spec.ts
Due: Unit Tests, React Components

feat(ui): add toast notifications for settings actions
  RFCs/RFC-013-UI-UX-Improvements.md
  src/components/settings/anthropic-settings.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/appearance-settings.tsx
  src/components/settings/data-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/settings/ollama-settings.tsx
  src/providers.tsx
  tests/e2e/anthropic-provider.spec.ts
Due: Unit Tests, React Components

feat(settings): persist tab selection in URL query params
  RFCs/RFC-013-UI-UX-Improvements.md
  src/pages/settings-page.tsx
  tests/e2e/settings.spec.ts
Due: Unit Tests

feat(settings): add visible toast notifications
  src/components/settings/anthropic-settings.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/mcp-settings.tsx
  src/components/settings/ollama-settings.tsx
  src/providers.tsx
Due: Unit Tests, React Components

fix(ui): centralize HeroUI component styling and fix transparency issues
  src/components/backup-restore-panel.tsx
  src/components/mcp/mcp-server-form.tsx
  src/components/settings/appearance-settings.tsx
  src/components/settings/provider-settings.tsx
  src/index.css
  src/lib/design-system.ts
  src/providers.tsx
Due: Unit Tests, React Components

fix: apply Copilot feedback
  src/components/empty-states/no-providers-prompt.tsx
  src/components/settings/data-settings.tsx
  tests/e2e/gpt-crud.spec.ts
  tests/e2e/responsive-behavior.spec.ts
Due: Unit Tests, React Components

fix: increase timeout for expect assertions
  playwright.config.ts
Due: none

fix: update GPT library section verification in home tests
  tests/e2e/home.spec.ts
Due: none

fix(ollama): improve HTTPS→localhost detection and prevent console spam
  .gitignore
  src/components/settings/ollama-settings.tsx
  src/hooks/use-ollama-status.ts
  tests/visual/utils/visual-test-helper.ts
  vite.config.ts
Due: Unit Tests, React Components, Custom Hooks

fix(ollama): improve HTTPS→localhost detection and prevent console spam (#1771)
  .gitignore
  src/components/settings/ollama-settings.tsx
  src/hooks/use-ollama-status.ts
  tests/visual/utils/visual-test-helper.ts
  vite.config.ts
Due: Unit Tests, React Components, Custom Hooks

refactor(ui): improve form layouts and accessibility in GPT editor
  src/components/__tests__/gpt-editor.test.tsx
  src/components/backup-restore-panel.tsx
  src/components/capabilities-configuration.tsx
  src/components/chat/chat-interface.tsx
  src/components/docs/interactive-notebook.tsx
  src/components/gpt-editor-tabs/general-tab.tsx
  src/components/gpt-editor.tsx
  src/components/knowledge-configuration.tsx
  src/hooks/use-gpt-validation.ts
  src/index.css
  src/pages/gpt-editor-page.tsx
  src/pages/gpt-showcase-page.tsx
  src/services/openai-service.ts
  tests/e2e/chat-interface.spec.ts
  tests/e2e/knowledge-base.spec.ts
  tests/e2e/page-objects/gpt-editor-page.ts
Due: Unit Tests, React Components, Services, Custom Hooks

chore: upgrade to Tailwind CSS v4 using `pnpx @tailwindcss/upgrade`
  .ai/notes/design-system-migration-assessment.md
  .ai/plan/refactor-animations-interactions-1.md
  .ai/plan/refactor-navbar-component-1.md
  .ai/plan/refactor-typography-system-1.md
  RFCs/RFC-013-UI-UX-Improvements.md
  src/components/archive-dialog.tsx
  src/components/chat/message-bubble.tsx
  src/components/docs/doc-layout.tsx
  src/components/folder-sidebar.tsx
  src/components/import-dialog.tsx
  src/components/layouts/default-layout.tsx
  src/components/layouts/sidebar-layout.tsx
  src/components/mcp/mcp-tool-call-visualization.tsx
  src/components/navbar.tsx
  src/lib/design-system.ts
  src/providers.tsx
Due: Unit Tests, React Components

fix: migrate to tailwindcss v4 with heroui
  src/components/capabilities-configuration.tsx
  src/components/gpt-editor-tabs/advanced-settings-tab.tsx
  src/hero.ts
  src/index.css
  tailwind.config.ts
  vite.config.ts
Due: Unit Tests, React Components

style: update styles for improved accessibility and consistency
  src/components/footer.tsx
  src/components/gpt-editor.tsx
  src/components/gpt-library.tsx
  src/components/settings/api-settings.tsx
  src/components/settings/ollama-settings.tsx
  src/pages/gpt-editor-page.tsx
  tests/accessibility/fixtures/index.ts
Due: Unit Tests, React Components

refactor: use correct type for HeroUI plugin
  src/hero.ts
Due: Unit Tests

Path conditions:
  Unit Tests: any of: src/**/*.ts, src/**/*.tsx, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  React Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  Context Providers: any of: src/contexts/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
  Custom Hooks: any of: src/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, src/test/**, tests/**, **/*.config.ts, src/main.tsx, src/vite-env.d.ts
