Repository marcusrbrown/gpt: changes, and which Codecov flags are due for each by the changed paths.
All: Unit Tests, React Components, Context Providers, Services, Custom Hooks

codecov.yml:

# Codecov configuration for comprehensive test coverage reporting
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: 'header, diff, flags, components, footer'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files and configuration files
ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'src/test/**'
  - 'tests/**'
  - '**/*.config.ts'
  - src/main.tsx
  - src/vite-env.d.ts

# Component configuration for different test types
component_management:
  individual_components:
    - component_id: unit_tests
      name: Unit Tests
      paths:
        - 'src/**/*.ts'
        - 'src/**/*.tsx'

    - component_id: components
      name: React Components
      paths:
        - 'src/components/**'

    - component_id: contexts
      name: Context Providers
      paths:
        - 'src/contexts/**'

    - component_id: services
      name: Services
      paths:
        - 'src/services/**'

    - component_id: hooks
      name: Custom Hooks
      paths:
        - 'src/hooks/**'

# GitHub Actions integration
github_checks:
  annotations: true

chore: mark the first RFC completed (#1722)
  RFCs/RFCS.md
Due: none

feat: implement encryption and session management services (RFC-002)
  RFCs/RFCS.md
  src/App.tsx
  src/components/passphrase-modal.tsx
  src/components/session-warning.tsx
  src/components/settings/api-settings.tsx
  src/contexts/openai-provider.tsx
  src/contexts/session-context.tsx
  src/hooks/use-session.ts
  src/lib/__tests__/crypto.test.ts
  src/lib/crypto.ts
  src/providers.tsx
  src/services/__tests__/encryption.test.ts
  src/services/__tests__/session.test.ts
  src/services/encryption.ts
  src/services/openai-service.ts
  src/services/session.ts
  vite.config.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

feat: implement encryption and session management services (RFC-002) (#1725)
  RFCs/RFCS.md
  src/App.tsx
  src/components/passphrase-modal.tsx
  src/components/session-warning.tsx
  src/components/settings/api-settings.tsx
  src/contexts/openai-provider.tsx
  src/contexts/session-context.tsx
  src/hooks/use-session.ts
  src/lib/__tests__/crypto.test.ts
  src/lib/crypto.ts
  src/providers.tsx
  src/services/__tests__/encryption.test.ts
  src/services/__tests__/session.test.ts
  src/services/encryption.ts
  src/services/openai-service.ts
  src/services/session.ts
  vite.config.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

docs: add RFCs
  .gitignore
  RFCs/RFC-001-IndexedDB-Storage-Foundation.md
  RFCs/RFC-002-Security-Infrastructure.md
  RFCs/RFC-003-Provider-Abstraction-Layer.md
  RFCs/RFC-004-GPT-Configuration-Management.md
  RFCs/RFC-005-Conversation-Management.md
Due: none

docs: add RFCs (#1726)
  .gitignore
  RFCs/RFC-001-IndexedDB-Storage-Foundation.md
  RFCs/RFC-002-Security-Infrastructure.md
  RFCs/RFC-003-Provider-Abstraction-Layer.md
  RFCs/RFC-004-GPT-Configuration-Management.md
  RFCs/RFC-005-Conversation-Management.md
Due: none

feat: refactor AI provider architecture (RFC-003)
  RFCs/RFCS.md
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/gpt-test-pane.tsx
  src/components/settings/api-settings.tsx
  src/contexts/ai-provider-context.tsx
  src/contexts/openai-provider.tsx
  src/hooks/use-ai-provider.ts
  src/index.tsx
  src/pages/gpt-editor-page.tsx
  src/providers.tsx
  src/services/providers/__tests__/provider-registry.test.ts
  src/services/providers/anthropic-provider.ts
  src/services/providers/azure-provider.ts
  src/services/providers/base-provider.ts
  src/services/providers/index.ts
  src/services/providers/ollama-provider.ts
  src/services/providers/openai-provider.ts
  src/services/providers/provider-registry.ts
  src/types/__tests__/provider.test.ts
  src/types/gpt.ts
  src/types/provider.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

feat: refactor AI provider architecture (RFC-003) (#1728)
  RFCs/RFCS.md
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/gpt-test-pane.tsx
  src/components/settings/api-settings.tsx
  src/contexts/ai-provider-context.tsx
  src/contexts/openai-provider.tsx
  src/hooks/use-ai-provider.ts
  src/index.tsx
  src/pages/gpt-editor-page.tsx
  src/providers.tsx
  src/services/providers/__tests__/provider-registry.test.ts
  src/services/providers/anthropic-provider.ts
  src/services/providers/azure-provider.ts
  src/services/providers/base-provider.ts
  src/services/providers/index.ts
  src/services/providers/ollama-provider.ts
  src/services/providers/openai-provider.ts
  src/services/providers/provider-registry.ts
  src/types/__tests__/provider.test.ts
  src/types/gpt.ts
  src/types/provider.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

test(gpt-editor): increase timeout of Save button test
  src/components/__tests__/gpt-editor.test.tsx
Due: none

test(gpt-editor): increase timeout of Save button test (#1729)
  src/components/__tests__/gpt-editor.test.tsx
Due: none

style: remove sample GPTs; update theming
  src/App.tsx
  src/components/card-group.tsx
  src/components/footer.tsx
  src/index.css
  src/providers.tsx
  tailwind.config.ts
Due: Unit Tests, React Components

chore: update RFC metadata formatting
  RFCs/RFC-001-IndexedDB-Storage-Foundation.md
  RFCs/RFC-002-Security-Infrastructure.md
  RFCs/RFC-003-Provider-Abstraction-Layer.md
  RFCs/RFC-004-GPT-Configuration-Management.md
  RFCs/RFC-005-Conversation-Management.md
Due: none

chore: update RFC metadata formatting (#1734)
  RFCs/RFC-001-IndexedDB-Storage-Foundation.md
  RFCs/RFC-002-Security-Infrastructure.md
  RFCs/RFC-003-Provider-Abstraction-Layer.md
  RFCs/RFC-004-GPT-Configuration-Management.md
  RFCs/RFC-005-Conversation-Management.md
Due: none

chore: fix tests
  src/components/__tests__/card-group-integration.test.tsx
  tests/accessibility/card-components.accessibility.spec.ts
  tests/e2e/animation-performance.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/page-objects/home-page.ts
  tests/e2e/responsive-behavior.spec.ts
  tests/visual/card-components-regression.visual.spec.ts
Due: none

style: remove sample GPTs; update theming (#1733)
  src/App.tsx
  src/components/__tests__/card-group-integration.test.tsx
  src/components/card-group.tsx
  src/components/footer.tsx
  src/index.css
  src/providers.tsx
  tailwind.config.ts
  tests/accessibility/card-components.accessibility.spec.ts
  tests/e2e/animation-performance.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/page-objects/home-page.ts
  tests/e2e/responsive-behavior.spec.ts
  tests/visual/card-components-regression.visual.spec.ts
  tests/visual/homepage.visual.spec.ts-snapshots/create-new-gpt-button-png-component-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-dark-theme-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-empty-state-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-desktop-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-large-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-mobile-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-tablet-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-with-gpts-full-page-chromium-visual-linux.png
Due: Unit Tests, React Components

feat: add GPT configuration management (RFC-004)
  RFCs/RFCS.md
  src/components/__tests__/card-group-integration.test.tsx
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/archive-dialog.tsx
  src/components/folder-sidebar.tsx
  src/components/gpt-editor.tsx
  src/components/gpt-library.tsx
  src/components/version-history-panel.tsx
  src/contexts/__tests__/storage-context.test.tsx
  src/contexts/__tests__/storage-provider.test.tsx
  src/contexts/storage-context.tsx
  src/contexts/storage-provider.tsx
  src/hooks/__tests__/use-auto-save.test.ts
  src/hooks/use-auto-save.ts
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-editor-page.tsx
  src/services/__tests__/cross-tab-sync.test.ts
  src/services/__tests__/folder-service.test.ts
  src/services/__tests__/storage.test.ts
  src/services/__tests__/version-history.test.ts
  src/services/cross-tab-sync.ts
  src/services/folder-service.ts
  src/services/migration.ts
  src/services/storage.ts
  src/services/version-history.ts
  src/types/gpt-extensions.ts
  src/types/gpt.ts
  tests/e2e/archive-restore.spec.ts
  tests/e2e/folder-organization.spec.ts
Due: Unit Tests, React Components, Context Providers, Services, Custom Hooks

fix: address layout issues
  docs/RULES.md
  src/App.tsx
  src/components/__tests__/card-group-integration.test.tsx
  src/components/card-group.tsx
  src/components/create-folder-modal.tsx
  src/components/gpt-library.tsx
  src/pages/home-page.tsx
Due: Unit Tests, React Components

chore: fix failing tests
  src/components/archive-dialog.tsx
  src/components/gpt-library.tsx
  tests/accessibility/home-page.accessibility.spec.ts
  tests/accessibility/screen-reader.accessibility.spec.ts
  tests/e2e/gpt-crud.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/page-objects/home-page.ts
  tests/e2e/responsive-behavior.spec.ts
Due: Unit Tests, React Components

fix: update navbar and new GPT button locators for accuracy
  tests/visual/homepage.visual.spec.ts
Due: none

docs(rfcs): add remaining RFCs for initial phases
  RFCs/RFC-006-Knowledge-Base-Enhancement.md
  RFCs/RFC-007-Export-Import-System.md
  RFCs/RFC-008-Anthropic-Provider-Integration.md
  RFCs/RFC-009-MCP-Tool-Integration.md
  RFCs/RFC-010-Ollama-Local-Models.md
  RFCs/RFC-011-Advanced-Tools-Sandbox.md
  RFCs/RFC-012-Tauri-Desktop-Application.md
  RFCs/RFCS.md
Due: none

docs(rfc): revise RFC-005
  RFCs/RFC-005-Conversation-Management.md
Due: none

docs(rfc): update (#1740)
  RFCs/RFC-005-Conversation-Management.md
  RFCs/RFC-006-Knowledge-Base-Enhancement.md
  RFCs/RFC-007-Export-Import-System.md
  RFCs/RFC-008-Anthropic-Provider-Integration.md
  RFCs/RFC-009-MCP-Tool-Integration.md
  RFCs/RFC-010-Ollama-Local-Models.md
  RFCs/RFC-011-Advanced-Tools-Sandbox.md
  RFCs/RFC-012-Tauri-Desktop-Application.md
  RFCs/RFCS.md
Due: none

feat: add conversation management (RFC-005)
  RFCs/RFCS.md
  docs/RULES.md
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/archive-dialog.tsx
  src/components/conversation-list.tsx
  src/components/conversation-search.tsx
  src/components/export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/gpt-test-pane.tsx
  src/contexts/conversation-context.tsx
  src/contexts/conversation-provider.tsx
  src/contexts/storage-context.tsx
  src/contexts/storage-provider.tsx
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-test-page.tsx
  src/services/__tests__/storage.test.ts
  src/services/conversation-export-service.ts
  src/services/conversation-search-service.ts
  src/services/migration.ts
  src/services/storage.ts
  src/types/gpt.ts
Due: Unit Tests, React Components, Context Providers, Services

feat: add conversation management (RFC-005) (#1742)
  RFCs/RFCS.md
  docs/RULES.md
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/archive-dialog.tsx
  src/components/conversation-list.tsx
  src/components/conversation-search.tsx
  src/components/export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/gpt-test-pane.tsx
  src/contexts/conversation-context.tsx
  src/contexts/conversation-provider.tsx
  src/contexts/storage-context.tsx
  src/contexts/storage-provider.tsx
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-test-page.tsx
  src/services/__tests__/storage.test.ts
  src/services/conversation-export-service.ts
  src/services/conversation-search-service.ts
  src/services/migration.ts
  src/services/storage.ts
  src/types/gpt.ts
  tests/visual/homepage.visual.spec.ts-snapshots/home-dark-theme-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-empty-state-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-desktop-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-large-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-mobile-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-tablet-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-with-gpts-full-page-chromium-visual-linux.png
Due: Unit Tests, React Components, Context Providers, Services

feat: implement export and import functionality for GPTs (RFC-007)
  RFCs/RFCS.md
  docs/RULES.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/backup-restore-panel.tsx
  src/components/conflict-resolution-panel.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/import-dialog.tsx
  src/components/navbar.tsx
  src/pages/backup-restore-page.tsx
  src/services/__tests__/export-service.test.ts
  src/services/__tests__/import-service.test.ts
  src/services/export-service.ts
  src/services/import-service.ts
  src/types/export-import.ts
  tests/e2e/export-import.spec.ts
  tests/e2e/page-objects/backup-restore-page.ts
Due: Unit Tests, React Components, Services

feat: implement export and import functionality for GPTs (RFC-007) (#1743)
  RFCs/RFCS.md
  docs/RULES.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/backup-restore-panel.tsx
  src/components/conflict-resolution-panel.tsx
  src/components/gpt-export-dialog.tsx
  src/components/gpt-library.tsx
  src/components/import-dialog.tsx
  src/components/navbar.tsx
  src/pages/backup-restore-page.tsx
  src/services/__tests__/export-service.test.ts
  src/services/__tests__/import-service.test.ts
  src/services/export-service.ts
  src/services/import-service.ts
  src/types/export-import.ts
  tests/e2e/export-import.spec.ts
  tests/e2e/page-objects/backup-restore-page.ts
  tests/visual/homepage.visual.spec.ts-snapshots/home-dark-theme-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-empty-state-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-desktop-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-large-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-responsive-tablet-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/home-with-gpts-full-page-chromium-visual-linux.png
  tests/visual/homepage.visual.spec.ts-snapshots/navbar-component-chromium-visual-linux.png
Due: Unit Tests, React Components, Services

chore(pnpm): add '@swc/core' to onlyBuiltDependencies
  pnpm-workspace.yaml
Due: none

chore(pnpm): add '@swc/core' to onlyBuiltDependencies (#1745)
  pnpm-workspace.yaml
Due: none

feat: enhance knowledge management features (RFC-006)
  RFCs/RFC-006-Knowledge-Base-Enhancement.md
  RFCs/RFCS.md
  package.json
  pnpm-lock.yaml
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/gpt-editor.tsx
  src/components/knowledge-configuration.tsx
  src/contexts/__tests__/storage-context.test.tsx
  src/contexts/__tests__/storage-provider.test.tsx
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-editor-page.tsx
  src/services/__tests__/export-service.test.ts
  src/services/__tests__/folder-service.test.ts
  src/services/__tests__/import-service.test.ts
  src/services/__tests__/knowledge-service.test.ts
  src/services/__tests__/storage.test.ts
  src/services/__tests__/version-history.test.ts
  src/services/export-service.ts
  src/services/import-service.ts
  src/services/knowledge-service.ts
  src/services/migration.ts
  src/services/storage.ts
  src/types/export-import.ts
  src/types/gpt.ts
  src/types/knowledge.ts
  tests/e2e/fixtures/test-document.txt
  tests/e2e/knowledge-base.spec.ts
Due: Unit Tests, React Components, Services

feat: enhance knowledge management features (RFC-006) (#1750)
  RFCs/RFC-006-Knowledge-Base-Enhancement.md
  RFCs/RFCS.md
  package.json
  pnpm-lock.yaml
  src/components/__tests__/gpt-editor.test.tsx
  src/components/__tests__/gpt-test-pane.test.tsx
  src/components/__tests__/user-gpt-card.test.tsx
  src/components/gpt-editor.tsx
  src/components/knowledge-configuration.tsx
  src/contexts/__tests__/storage-context.test.tsx
  src/contexts/__tests__/storage-provider.test.tsx
  src/lib/__tests__/database.test.ts
  src/lib/database.ts
  src/pages/gpt-editor-page.tsx
  src/services/__tests__/export-service.test.ts
  src/services/__tests__/folder-service.test.ts
  src/services/__tests__/import-service.test.ts
  src/services/__tests__/knowledge-service.test.ts
  src/services/__tests__/storage.test.ts
  src/services/__tests__/version-history.test.ts
  src/services/export-service.ts
  src/services/import-service.ts
  src/services/knowledge-service.ts
  src/services/migration.ts
  src/services/storage.ts
  src/types/export-import.ts
  src/types/gpt.ts
  src/types/knowledge.ts
  tests/e2e/fixtures/test-document.txt
  tests/e2e/knowledge-base.spec.ts
Due: Unit Tests, React Components, Services

docs: add AGENTS.md files for project structure and conventions
  AGENTS.md
  notebooks/AGENTS.md
  scripts/AGENTS.md
  src/AGENTS.md
  src/assets/AGENTS.md
  src/components/AGENTS.md
  src/components/docs/AGENTS.md
  src/components/file-upload/AGENTS.md
  src/components/forms/AGENTS.md
  src/components/settings/AGENTS.md
  src/config/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
  src/lib/AGENTS.md
  src/pages/AGENTS.md
  src/services/AGENTS.md
  src/services/providers/AGENTS.md
  src/test/AGENTS.md
  src/types/AGENTS.md
  tests/AGENTS.md
Due: React Components, Context Providers, Services, Custom Hooks

docs: add AGENTS.md files for project structure and conventions (#1751)
  AGENTS.md
  notebooks/AGENTS.md
  scripts/AGENTS.md
  src/AGENTS.md
  src/assets/AGENTS.md
  src/components/AGENTS.md
  src/components/docs/AGENTS.md
  src/components/file-upload/AGENTS.md
  src/components/forms/AGENTS.md
  src/components/settings/AGENTS.md
  src/config/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
  src/lib/AGENTS.md
  src/pages/AGENTS.md
  src/services/AGENTS.md
  src/services/providers/AGENTS.md
  src/test/AGENTS.md
  src/types/AGENTS.md
  tests/AGENTS.md
Due: React Components, Context Providers, Services, Custom Hooks

feat: implement Anthropic provider (RFC-008)
  RFCs/RFCS.md
  docs/plan/RFC-008-Anthropic-Provider-Integration.md
  src/components/settings/anthropic-settings.tsx
  src/pages/gpt-editor-page.tsx
  src/services/providers/__tests__/anthropic-provider.test.ts
  src/services/providers/__tests__/provider-registry.test.ts
  src/services/providers/anthropic-provider.ts
  src/types/anthropic.ts
  src/types/provider.ts
  tests/e2e/anthropic-provider.spec.ts
Due: Unit Tests, React Components, Services

feat: implement Anthropic provider (RFC-008) (#1753)
  RFCs/RFCS.md
  docs/plan/RFC-008-Anthropic-Provider-Integration.md
  src/components/settings/anthropic-settings.tsx
  src/pages/gpt-editor-page.tsx
  src/services/providers/__tests__/anthropic-provider.test.ts
  src/services/providers/__tests__/provider-registry.test.ts
  src/services/providers/anthropic-provider.ts
  src/types/anthropic.ts
  src/types/provider.ts
  tests/e2e/anthropic-provider.spec.ts
Due: Unit Tests, React Components, Services

docs: add AGENTS.md files for various testing frameworks
  .github/AGENTS.md
  .markdownlint-cli2.yaml
  eslint.config.ts
  tests/accessibility/AGENTS.md
  tests/e2e/AGENTS.md
  tests/performance/AGENTS.md
  tests/visual/AGENTS.md
Due: none

docs: add AGENTS.md files for various testing frameworks (#1754)
  .github/AGENTS.md
  .markdownlint-cli2.yaml
  eslint.config.ts
  tests/accessibility/AGENTS.md
  tests/e2e/AGENTS.md
  tests/performance/AGENTS.md
  tests/visual/AGENTS.md
Due: none

feat: implement OllamaProvider (RFC-010)
  RFCs/RFCS.md
  src/components/ollama-model-card.tsx
  src/components/ollama-model-manager.tsx
  src/components/settings/ollama-settings.tsx
  src/hooks/use-ollama-status.ts
  src/services/providers/__tests__/fetch-mock-test.test.ts
  src/services/providers/__tests__/ollama-provider.test.ts
  src/services/providers/ollama-provider.ts
  src/types/ollama.ts
Due: Unit Tests, React Components, Services, Custom Hooks

feat: add Ollama provider integration and accessibility tests
  RFCs/RFCS.md
  src/pages/gpt-editor-page.tsx
  tests/accessibility/fixtures/index.ts
  tests/accessibility/ollama-settings.accessibility.spec.ts
  tests/e2e/ollama-provider.spec.ts
Due: Unit Tests

feat: implement OllamaProvider (RFC-010) (#1756)
  RFCs/RFCS.md
  src/components/ollama-model-card.tsx
  src/components/ollama-model-manager.tsx
  src/components/settings/ollama-settings.tsx
  src/hooks/use-ollama-status.ts
  src/pages/gpt-editor-page.tsx
  src/services/providers/__tests__/fetch-mock-test.test.ts
  src/services/providers/__tests__/ollama-provider.test.ts
  src/services/providers/ollama-provider.ts
  src/types/ollama.ts
  tests/accessibility/fixtures/index.ts
  tests/accessibility/ollama-settings.accessibility.spec.ts
  tests/e2e/ollama-provider.spec.ts
Due: Unit Tests, React Components, Services, Custom Hooks
